<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar color="dark" >
        <ion-title color="light">
          Prochef
        </ion-title>
      </ion-toolbar>
  </ion-header>
    <ion-content color="dark" >
      <ion-list color="dark">
        <ion-menu-toggle>
        <ion-item line="none"  *ngIf="isChef()||isRestaurantAdmin()||isChainAdmin()" routerLink='/products' color="dark" >
          <ion-icon color="light"  name="fast-food-outline"></ion-icon>
          <ion-label color="light" style="margin-left:10px"> <strong>Products</strong></ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item line="none" *ngIf="isChef()||isRestaurantAdmin()||isChainAdmin()"  routerLink='/menu'color="dark" >
          <ion-icon color="light" name="book-outline"></ion-icon>
          <ion-label color="light" style="margin-left:10px"> <strong>Menu</strong></ion-label>
        </ion-item>
      </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item line="none" *ngIf="isChainAdmin()" color="dark"  routerLink='/statistics' >
            <ion-icon color="light" name="bar-chart-outline"></ion-icon>
            <ion-label color="light" style="margin-left:10px"> <strong>Statistics</strong></ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item line="none" *ngIf="isRestaurantAdmin()||isChainAdmin()" color="dark"  routerLink='/admin-panel' >
            <ion-icon color="light" name="people-circle-outline"></ion-icon>
            <ion-label color="light" style="margin-left:10px"> <strong>Admin panel</strong></ion-label>
          </ion-item>
        </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item line="none"   *ngIf="isLoggedIn" color="dark" >
        <ion-icon color="light" name="log-out-outline"></ion-icon>
        <ion-label color="light" style="margin-left:10px" (click)="logout()"> <strong>Log out</strong></ion-label>
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Prochef App
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <select style="color:black" class="form-control" (change)="changeLocale()" [(ngModel)]="selectedLanguage">
        <option *ngFor="let language of languages" [value]="language.id">{{ language.title }}</option>
      </select>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-router-outlet main></ion-router-outlet>
</ion-app>
