<ion-header>
  <ion-toolbar color="dark">
    <ion-title >
      Register Employee 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-md="5" offset-sm="3">
          <ion-list>
            <ion-item lines="none" class="auth-input">
                <ion-input  required placeholder="First Name"  ngModel name="firstname"></ion-input>
            </ion-item>
            <ion-item lines="none"  class="auth-input">
                <ion-input required placeholder="Middle Name"ngModel name="middlename"></ion-input>
            </ion-item>
            <ion-item lines="none"  class="auth-input">
                <ion-input  type="text" placeholder="Last Name" ngModel name="lastname" required></ion-input>
            </ion-item>
              <ion-item class="auth-input">
                <ion-select type="text"ngModel name="role"  style="max-width: 100%" placeholder="Select Role">
                  <ion-select-option value=1>Chain Admin</ion-select-option>
                  <ion-select-option value=2>Restaurant Admin</ion-select-option>
                  <ion-select-option value=3>Chef</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="auth-input">
                <ion-select type="text" ngModel name="restaurantId"  style="max-width: 100%" placeholder="Select Restaurant">
                  <ion-select-option value=1>Mackdonalds</ion-select-option>
                  <ion-select-option value=2>KFC</ion-select-option>
                  <ion-select-option value=3>BurgerKing</ion-select-option>
                </ion-select>
              </ion-item>
            <ion-item class="auth-input">
              <ion-input 
              placeholder="Email"
              type="email" 
              ngModel 
              name="email" 
              required 
              email
              #emailCtrl="ngModel"
              ></ion-input>
            </ion-item >
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label> Should be a valid email address</ion-label>
            </ion-item>
            <ion-item class="auth-input">
              <ion-input 
              placeholder="Password"
              type="password" 
              ngModel 
              name="password" 
              required 
              minLength="8" 
              #passwordCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label> Should at least be 8 characters long</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="5" offset-sm="3">
          <ion-button 
            type="button"
            id="switchAuth"
            style="color:  #721B29" 
            expand="block" 
            fill="clear"
            (click)="onSwitchAuthMode()">
            Swith to {{ isLogin ? 'Signup' : 'Login'}}
            </ion-button>
            <ion-button 
            type="submit"
            class="auth-submit"
            expand="block" 
            [disabled]="!f.valid"
          >Login</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
  <div class="alert alert-danger" *ngIf="f.submitted && isSignUpFailed">
    {{ 'ERRORS.SIGNUPFAILED' | translate }}<br />{{ errorMessage }}
  </div>
</form>
</ion-content>
